.box {
  margin-bottom: 2.4rem;
  box-shadow: 0 0.6rem 1.6rem rgba(0, 0, 0, 0.25);
  background: var(--bg-secondary);
  border-radius: 0.6rem;
}

.header {
  font-weight: 700;
  color: var(--color);
  font-size: 1.2rem;
  text-align: left;
  padding: 1.6rem 1.6rem 0;
}
