.box {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 6rem);
  margin-bottom: 6rem;
  width: 100%;
  text-align: center;
}

.header {
  max-width: 60rem;
  margin-top: 2rem;
  margin-bottom: 0;
  padding: 2.5rem;
}

.title {
  color: var(--color);
  font-size: 4rem;
  font-weight: 400;
  line-height: 5.5rem;
}
